@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin col-param {
  background-color: turquoise;
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horisontal;
  }
}
